/* Make the entire modal take up maximum width */
.modal {
  max-width: 95vw;
  width: 95vw;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
}

/* Ensure the modal content spans the new size */
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.git-modal-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.git-sidebar {
  width: 30%;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--background-modifier-border);
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.commit-list {
  margin-top: 10px;
  overflow-y: auto;
}

.commit-item {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--background-primary);
  transition: background-color 0.2s, color 0.2s;
}

.commit-item:hover {
  background-color: var(--background-hover);
}

/* Wrapper for the headings and content area */
.git-diff-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* Sticky headings */
.git-diff-headings {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-primary);
  padding: 10px;
  border-bottom: 1px solid var(--background-modifier-border);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: relative; /* Adjusted to align correctly with content */
}

.git-content-area {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  font-family: var(--font-monospace);
  white-space: pre-wrap;
  background-color: var(--background-primary);
  color: var(--text-normal);
  box-sizing: border-box;
}
