.commit-list {
  margin-top: 10px;
  overflow-y: auto;
}

.commit-item {
  padding: var(--commit-item-padding);
  margin-bottom: 5px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--background-primary);
  transition: background-color 0.2s, color 0.2s;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commit-item.empty-commit {
  justify-content: center;
}

.commit-item.empty-commit .commit-date {
  margin: 0;
}

.commit-item:hover {
  background-color: var(--background-hover);
}

.commit-item.selected {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  font-weight: bold;
}

.commit-date {
  color: var(--text-muted);
  font-size: 0.9em;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.commit-details {
  font-size: 0.8em;
  color: var(--text-muted);
  flex: 1;
  padding: 2px 8px;
  background-color: var(--background-secondary);
  border-radius: 4px;
  margin: 0;
  line-height: 1.4;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}

.commit-details::-webkit-scrollbar {
  height: 6px;
}

.commit-details::-webkit-scrollbar-track {
  background: transparent;
}

.commit-details::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 3px;
}

.commit-details-top {
  font-size: 0.8em;
  color: var(--text-muted);
  flex: 1;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 30px;
  line-height: 1.4;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  background-color: transparent;
  text-align: center;
}

.commit-details-top::-webkit-scrollbar {
  height: 6px;
}

.commit-details-top::-webkit-scrollbar-track {
  background: transparent;
}

.commit-details-top::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 3px;
} 