.modal-container .git-diff-modal {
    min-width: 98vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.modal-container:has(.git-diff-modal) {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
}

.git-diff-modal .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.git-modal {
  display: flex;
  flex-direction: column;
}

.git-modal-container {
  display: flex;
  flex: 1;
}

.git-sidebar {
  width: 20%;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--background-modifier-border);
  padding: var(--commit-item-padding);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* Remove margin-top workaround */
}

.git-sidebar .sidebar-title {
    font-size: 1.2em;
    font-weight: bold;
    flex-shrink: 0;
}

.git-sidebar .commit-list {
    flex-grow: 1;
    overflow-y: auto;
}

.git-diff-modal .modal-title {
    padding: var(--commit-item-padding);
} 