.git-sidebar {
  width: 20%;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--background-modifier-border);
  padding: var(--commit-item-padding);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
}

.git-sidebar.set-width {
  width: var(--sidebar-width);
}

.sidebar-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: var(--commit-item-padding);
  margin-bottom: 0;
} 