.git-modal-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.git-sidebar {
  width: 20%;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--background-modifier-border);
  padding: var(--commit-item-padding);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.git-sidebar.set-width {
  width: var(--sidebar-width);
}

.sidebar-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.git-content-area {
  flex: 1;
  overflow: auto;
  font-family: 'Inter', sans-serif;
  height: 100%;
} 