:root {
  /* Shared variables */
  --sidebar-width: 250px;
  --diff-line-height: 1.8;
  --commit-item-padding: 10px;
  
  /* Interactive accent color */
  --interactive-accent: #007acc; /* You can change this to match your theme */
}

/* Dark mode variables */
.theme-dark {
  --removed-text: rgb(255, 181, 142);
  --removed-bg: rgba(226, 85, 9, 0.509);
  --added-text: rgb(144, 238, 144);
  --added-bg: rgba(0, 128, 0, 0.3);
  --moved-text: rgb(255, 255, 224);
  --moved-bg: rgba(255, 255, 0, 0.2);
  --active-commit: rgba(65, 105, 225, 0.6);
  --interactive-accent: #3399ff; /* Accent color for dark mode */
}

/* Light mode variables */
.theme-light {
  --removed-text: rgb(204, 68, 0);
  --removed-bg: rgba(255, 235, 204, 0.9);
  --added-text: rgb(0, 128, 0);
  --added-bg: rgba(144, 238, 144, 0.3);
  --moved-text: rgb(128, 128, 0);
  --moved-bg: rgba(255, 255, 224, 0.5);
  --active-commit: rgba(135, 206, 250, 0.5);
  --interactive-accent: #005f9e; /* Accent color for light mode */
}
